@tailwind base;
@tailwind components;
@tailwind utilities;

.Noone {
  --custom-bg-color: red;
}

.Cabbage,
.Both {
  --custom-bg-color: #39aa3d;
}

.Smor,
.Both.tooltip-left {
  --custom-bg-color: #7e3695;
}

.technology {
  max-width: inherit;
}

.tooltip::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
  background: var(--custom-bg-color);
  color: #fff;
  text-align: center;
  display: none;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: -5px;
  border: 10px solid #39aa3d;
  border-color: transparent var(--custom-bg-color) transparent transparent;
  display: none;
}

.tooltip-left::before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: 15px;
}

.tooltip-left::after {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent var(--custom-bg-color);
}

.Both.tooltip::before {
  background: linear-gradient(160deg, #39aa3d 50%, #7e3695 50%);
}

.tooltip:hover:before,
.tooltip:hover:after {
  display: block;
}

@media (max-width: 1023px) {
  .tooltip:hover:before,
  .tooltip:hover:after {
    display: none;
  }
}

.flip-animation {
  animation: counterFlip 2s linear forwards;
}

@keyframes counterFlip {
  0% {
    transform-origin: 100% 0;
    transform: perspective(2000px) rotateX(0deg);
    box-shadow: inset 0px 13px 15px -10px #000000;
  }

  49% {
    z-index: 0;
  }

  50% {
    z-index: 10;
  }

  74% {
    box-shadow: inset 0px 10px 15px -10px #000000;
  }

  75% {
    box-shadow: none;
  }

  100% {
    z-index: 10;
    transform-origin: 100% 0;
    transform: perspective(2000px) rotateX(-360deg);
  }
}
